body {
  background: rgb(69, 97, 252);
  background: linear-gradient(
    90deg,
    rgba(69, 97, 252, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(69, 97, 252, 1) 100%
  );
}

#big-ole-box {
  width: 90vw;
  height: 90vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

select {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 200px;
  appearance: none; /* remove default arrow */
  -webkit-appearance: none; /* remove default arrow for Safari */
  -moz-appearance: none; /* remove default arrow for Firefox */
  position: relative;
}


select:hover {
  background-color: rgb(69, 97, 252);
}

/* custom arrow */
select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #A57865; /* Solid triangle with the color #A57865 */
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow does not interfere with dropdown functionality */
}

#year-dropdown option {
  background-color: black;
  color: white;
}

#color-button {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px;
  background-color: black;
  color: #A57865;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: crosshair;
  border-radius: 10px;
}

#color-button p {
  margin: 10px 0; 
  text-emphasis: italic;

}

#color-button a {
  color: #A57865;
  text-decoration: none; 
  text-emphasis: italic;
}

#color-button a:hover {
  text-decoration: underline; 
}

.highlight {
  font-size: 18px; 
  font-weight: bold; 
}

.tippy-top-container {
  display: flex;
  align-items: left;
  justify-content: center;
  margin: 10px auto;
  width: 70%;
}

a {
  color: #A57865;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

blockquote {
  font-size: 16px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  padding: 10px;
  color: #A57865;
  padding: 5px;
  /* margin: 0;  */
  text-align: left;
  flex-grow: 1;
  text-emphasis: italic;

}

#mute-button {
    z-index: 10;
    font-size: 8px;
    padding: 5px;
    background-color: #A57865;
    color: #000;
    border-radius: 50%; /* makes it round */
    width: 30px;
    height: 30px; 
    display: flex;
    /* flex-grow: -1; */
    align-items: center;
    justify-content: center;
    margin-left: 8px; 
    cursor: pointer;
    border: none;
  }

#temporary-data-container {
  color: #A57865;
}

#temporary-data {
  font-size: 20px;
  color: #A57865;
  padding: 10px;
  margin: 10px auto;
  width: 70%;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* border-radius: 5px; */
}

#temperatures {
  width: 25%;
  /* height: 100%; */
  float: left;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

.grid-container {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  position: relative;
}

.box {
  background: rgb(69, 97, 252);
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  display: flex;
  flex: 1;
  border: 1px solid black;
  margin: 5px;
  aspect-ratio: 1 / 1;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  word-wrap: break-word;
  color: #fff;
  font-size: 14px;
}
 
#footer {
  text-align: left;
  padding-left: 50px;
}